# ignoring log files
*.log

# ignore ALL files in ANY directory named temp
temp/

# ignore ALL debug folders
**/debug/

# ignore that pesky .vs folder
.vs/**

# ignore the .git folder too?
.git/

# Compiled Object files
*.slo
*.lo
*.o
*.ipdb
*.iobj
*.obj
*.tlog
*.log