# ignoring log files
*.log

# ignore ALL files in ANY directory named temp
temp/

# ignore ALL debug folders
**/debug/

# ignore this specific release folder
msk2bmpGUI_C_C++_imgui_sdl2_tinyfiledialogs/Release/

# ignore that pesky .vs folder
.vs/**

# ignore the .git folder too?
.git/

# Compiled Object files
*.slo
*.lo
*.o
*.ipdb
*.iobj
*.obj
*.tlog
*.log
#TODO: deal with this imgui.ini file in a better way
imgui.ini

# ignore the imgui.ini file
msk2bmpGUI_C_C++_imgui_sdl2_tinyfiledialogs/imgui.ini
msk2bmpGUI_C_C++_imgui_sdl2_tinyfiledialogs/images

Release/
out/
build/
.vscode/
CMakeUserPresets.json
QFO2Tool
msk2bmpGUI_C_C++_imgui_sdl2_tinyfiledialogs/config\\msk2bmpGUI.cfg
cmake_install.cmake
CMakeFiles
Makefile
CMakeCache.txt
_deps

msk2bmpGUI
