# ignoring log files
*.log

# ignore ALL files in ANY directory named temp
temp/

# ignore ALL debug folders
**/debug/

# ignore this specific release folder
src/Release/

# ignore that pesky .vs folder
.vs/**

# ignore the .git folder too?
.git/

# Compiled Object files
*.slo
*.lo
*.o
*.ipdb
*.iobj
*.obj
*.tlog
*.log
#TODO: deal with this imgui.ini file in a better way
imgui.ini

# ignore the imgui.ini file
src/imgui.ini
src/images

Release/
out/
build/
.vscode/
CMakeUserPresets.json
src/config\\msk2bmpGUI.cfg
/UpgradeLog*.htm